<div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG8AtzLb6V5_Q/profile-displayphoto-shrink_100_100/0?e=1588204800&v=beta&t=EHAcYUcz-hbazhVtXw9eGSAygmXG1do_4KOGGPTJ33Y" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Junior Macedo</strong> <small>@jrwmacedo</small>
            <br>
          </p>
        </div>
      </div>
    </article>
  </div>